* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

body {
  background-color: #f3e5d8;
}

.box {
  width: 60%;
  margin: 10rem auto;
  border-radius: 3rem;
  padding: 2rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
}

header img {
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
}

.container h1 {
  font-size: 43px;
  margin: 0.67em 0;
  font-family: "Young Serif", serif;
  font-weight: bold;
  color: #302d2c;
}

.container_info {
  color: #5f574e;
  font-size: 13px;
  margin: 16px 0;
  font-weight: 400;
  line-height: 30px;
}

.preparation-time {
  background-color: #fff5fa;
  width: 100%;
  height: 190px;
  border-radius: 15px;
  padding: 20px;
}

.preparation-time h3 {
  color: #7b284f;
  font-size: 16px;
  margin: 20px 0;
}

.preparation-time ul {
  margin: 16px 0;
  padding: 0 0 0 40px;
}

.preparation-time li {
  color: #5f5746;
  font-size: 13px;
  padding: 10px 0 0 20px;
}

.preparation-time li::marker {
  color: #7b284f;
}

.preparation-time span {
  font-weight: bold;
}

.ingredients h2 {
  color: #854632;
  font-size: 25px;
  font-family: "Young Serif", serif;
  font-weight: 400;
  margin: 23px 0;
}

.ingredients ul {
  margin: 16px 0;
  padding: 0 0 0 40px;
}

.ingredients li {
  color: #5f5746;
  font-size: 13px;
  padding: 10px 0 0 20px;
  list-style-type: square;
}

.ingredients li::marker {
  color: #854632;
}

.instructions h2 {
  color: #854632;
  font-size: 25px;
  font-family: "Young Serif", serif;
  font-weight: 400;
  margin: 23px 0;
}

.instructions ul {
  margin: 16px 0;
  padding: 0 0 0 40px;
}

.instructions li {
  color: #5f5746;
  font-size: 13px;
  padding: 10px 0 0 20px;
  margin: 0 30px;
  line-height: 26px;
}

.instructions span {
  font-weight: bold;
}

.instructions li::marker {
  color: #854632;
  font-weight: bold;
}

.nutrition h2 {
  color: #854632;
  font-size: 25px;
  font-family: "Young Serif", serif;
  font-weight: 400;
  margin: 23px 0;
}

.nutrition-information {
  color: #5f5746;
  font-size: 13px;
}

.nutrition-table {
  display: flex;
  flex-direction: column;
}

.table-border {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #E4DED8;
  margin: 0 0 20px;
  padding: 20px 200px 20px 15px;
  font-size: 11px;
}

.table-border p {
  color: #5F574E;
  font-weight: 600;
  font-size: 14px;
}

.table-border span {
  font-weight: bold;
  color: #854632;
  font-size: 14px;
}

.table-border-none {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 20px;
  padding: 20px 200px 20px 15px;
  font-size: 11px;
}

.table-border-none p {
  color: #5F574E;
  font-weight: 600;
  font-size: 14px;
}

.table-border-none span {
  font-weight: bold;
  color: #854632;
  font-size: 14px;
}


@media (max-width: 600px) {

  body {
    background-color: #FFF;
  }

.box {
        width: 100%;
        margin: 0 auto;
        padding: 0 ;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
      width: 100%;
      border-radius: 0;
    }

    header img {
      width: 100%;
      height: 13rem;
      border-radius: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container h1 {
    font-size: 32px;
    margin: 0.67em 45px;
    font-family: "Young Serif", serif;
    font-weight: bold;
    color: #302d2c;
}

.container_info {
  color: #5f574e;
  font-size: 17px;
  margin: 16px 24px;
  font-weight: 400;
  line-height: 30px;
}

.preparation-time {
  background-color: #fff5fa;
  width: 70%;
  height: 194px;
  border-radius: 15px;
  padding: 20px;
}

.ingredients {
  margin-left: 50px;
}

.ingredients li {
  font-size: 14px;
}

.instructions {
  margin-left: 50px;
}

.nutrition {
  margin-left: 50px;
}

.nutrition-information {
  color: #5f5746;
  font-size: 17px;
}

.nutrition-table {
  width: 40px;
}

.nutrition-table {
  width: 280px;
}

.table-border {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #E4DED8;
  margin: 0 0 20px;
  padding: 20px 15px 20px 3px;
  font-size: 11px;
}

.table-border-none {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 20px;
  padding: 20px 15px 20px 3px;
  font-size: 11px;
}


}